<!-- Start Contact Info
  ============================================= -->
<div class="contact-info-area default-padding">
    <div class="container">
        <div class="row">
            <!-- Start Contact Info -->
            <div class="contact-info">
                <div class="col-md-3 col-sm-2">
                    <div class="item">
                        <div class="icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="info">
                            <h4>Email Us</h4>
                            <span>
                                <a href="mailto:m.theking7@yahoo.com">
                                    Mohamad Olabi
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-2">
                    <div class="item">
                        <div class="icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="info">
                            <h4>Email Us</h4>
                            <span> <a href="mailto:aya.1999khanji@gmail.com">  Aya Khange</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-2">
                    <div class="item">
                        <div class="icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="info">
                            <h4>Email Us</h4>
                            <span>
                                <a href="mailto:SemaHamdan96@gmail.com">
                                    Yara Ahmad
                                </a>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-2">
                    <div class="item">
                        <div class="icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="info">
                            <h4>Email Us</h4>
                            <span>
                                <a href="mailto:baselbakir3@gmail.com">
                                    Basel Bakir
                                </a>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Contact Info -->





        </div>
    </div>
</div>
<!-- End Contact Info -->